@page
@model MusicModel
@{
}
<form method="post">
    <label for="Url">Youtube Link:</label>
    <input type="text" id="Url" name="Url"><br><br>
    <button class="btn btn-primary">Test</button>
</form>
